In [63]:
class My_SQL:
    
    def __init__(self,host,user,password):
        self.host = host
        self.user = user
        self.password = password
        
    def create_connection(self):
        self.mydb = mysql.connector.connect(host = self.host, user = self.user, password = self.password)
        return self.mydb
    
    def create_cursor(self):
        self.mycursor = self.mydb.cursor()
        return self.mycursor
    
    def show_database(self):
        try:
            self.mycursor.execute(f"show databases")
            for i in self.mycursor:
                print(i)     
        except Exception as e:
            print(e)
            
    def create_database(self,db_name):
        try:
            self.db_name = db_name
            return self.mycursor.execute(f"create database if not exists {self.db_name}")
        except Exception as e:
            print(e)
            
    def create_table(self,table_name):
        try:
            self.table_name = table_name
            self.mycursor.execute(f"use {self.db_name}")
            self.mycursor.execute(f"create table if not exists {self.table_name}")
        except Exception as e:
            print(e)
            
    def insert_data(self,data):
        try:
            self.data = data
            self.mycursor.execute(f"use {self.db_name}")
            self.mycursor.execute(self.data)
            self.mydb.commit()
        except Exception as e:
            print(e)
            
    def querys(self,details):
        try:
            self.details = details
            self.mycursor.execute(self.details)
            print(self.mycursor.fetchall())
        except Exception as e:
            print(e)
            
    def update(self,new_update):
        try:
            self.new_update = new_update
            self.mycursor.execute(self.new_update)
            self.mydb.commit()
        except Exception as e:
            print(e)
            
    def delete(self,dell):
        try:
            self.dell = dell
            self.mycursor.execute(self.dell)
            self.mydb.commit()
        except Exception as e:
            print(e)
            
    def __str__(self):
        return "This is MongoDB class"

In [64]:
m = My_SQL("localhost", "root", "password")

In [65]:
m.create_connection()

In [66]:
m.create_cursor()

In [67]:
m.show_database()

('glassbase',)
('ineuron',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('schooldb',)
('sys',)
('test',)

In [68]:
m.create_database("test")

In [69]:
m.create_table("cls(studentid int, firstname varchar(50), lastname varchar(50),registrationdate DATE,class varchar(20),cource_name varchar(50))")

In [70]:
m.insert_data("""insert into test.cls values(1418, 'yash', 'mohite', '2022-12-2','SQL','FSDS'), 
(1419, 'yash', 'mohite', '2022-12-2','SQL','FSDS'),
(1420, 'isha', 'suriyavanshi', '2022-12-2','SQL','FSDS'),
(1421, 'siddhesh', 'patade', '2022-12-2','SQL','FSDS'),
(1422, 'ankita', 'gurav', '2022-12-2','SQL','FSDS'),
(1423, 'isha', 'ghoil', '2022-12-2','SQL','FSDS'),
(1424, 'rutuja', 'rane', '2022-12-2','SQL','FSDS')""")

In [71]:
m.querys("select * from test.cls")

[(1418, 'yash', 'mohite', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1419, 'yash', 'mohite', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1420, 'isha', 'suriyavanshi', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1421, 'siddhesh', 'patade', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1422, 'ankita', 'gurav', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1423, 'isha', 'ghoil', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1424, 'rutuja', 'rane', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1418, 'yash', 'mohite', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1419, 'yash', 'mohite', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1420, 'isha', 'suriyavanshi', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1421, 'siddhesh', 'patade', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1422, 'ankita', 'gurav', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1423, 'isha', 'ghoil', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1424, 'rutuja', 'rane', datetime.date(2022, 12, 2), 'SQL', 'FSDS')]

In [72]:
m.querys("select studentid,firstname,cource_name from test.cls")

[(1418, 'yash', 'FSDS'), (1419, 'yash', 'FSDS'), (1420, 'isha', 'FSDS'), (1421, 'siddhesh', 'FSDS'), (1422, 'ankita', 'FSDS'), (1423, 'isha', 'FSDS'), (1424, 'rutuja', 'FSDS'), (1418, 'yash', 'FSDS'), (1419, 'yash', 'FSDS'), (1420, 'isha', 'FSDS'), (1421, 'siddhesh', 'FSDS'), (1422, 'ankita', 'FSDS'), (1423, 'isha', 'FSDS'), (1424, 'rutuja', 'FSDS')]

In [73]:
m.querys("select * from test.cls where studentid = 1423")

[(1423, 'isha', 'ghoil', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1423, 'isha', 'ghoil', datetime.date(2022, 12, 2), 'SQL', 'FSDS')]

In [74]:
m.querys("select * from test.cls where  studentid  > 1422")

[(1423, 'isha', 'ghoil', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1424, 'rutuja', 'rane', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1423, 'isha', 'ghoil', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1424, 'rutuja', 'rane', datetime.date(2022, 12, 2), 'SQL', 'FSDS')]

In [80]:
m.querys("select * from test.cls where firstname = 'isha'")

[(1423, 'isha', 'ghoil', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1423, 'isha', 'ghoil', datetime.date(2022, 12, 2), 'SQL', 'FSDS')]

In [77]:
m.update("update test.cls set firstname = 'sid' where studentid = 1421")

In [78]:
m.querys("select * from test.cls where studentid = 1421")

[(1421, 'sid', 'patade', datetime.date(2022, 12, 2), 'SQL', 'FSDS'), (1421, 'sid', 'patade', datetime.date(2022, 12, 2), 'SQL', 'FSDS')]

In [79]:
m.delete("delete from test.cls where studentid = 1420 ")

In [81]:
m.querys("select min(studentid) from test.cls")

[(1418,)]

In [82]:
m.querys("select max(studentid) from test.cls")

[(1424,)]

In [83]:
m.querys("select count(*)  from test.cls ")

[(12,)]

In [84]:
m.querys("select count(*),class  from test.cls group by class ")

[(12, 'SQL')]

In [86]:
print(m)

This is MongoDB class